# Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# Environments
venv/
.env

# Models (Crucial to avoid gigabytes of weight uploads)
models/

# Local OS & Editors
.vscode/
.idea/
.DS_Store
Thumbs.db
